/* Enter your custom styles here */
/* .alwaysScrollX {
  overflow-x: scroll !important;
  height: 300px;
  width: 100%;
  position: relative;
} */

/* .myFlexBoxClass {
  position: relative;
  width: 100%;

}
.fixedStyle {
  position: sticky;
}

.myToolBarStyle {
  position: fixed;
  width: 100%;
  top: 0;
} */

/* .zHorizontalScrollTable .sapMListTblCnt {
    overflow-x: auto !important; 
}

.zHorizontalScrollTable table.sapMListTbl {
    table-layout: auto;
    width: auto;
    min-width: 100%;
} */